{% extends 'base.html.twig' %}

{% block body %}

<h1>Téléphones selon taille</h1>

<ul>
	{% for tel in grands_tel %}
		<li>{{tel.id}} {{tel.marque}} {{tel.type}} {{tel.taille}}</li>
	{%endfor%}
</ul>   

{% endblock %}
