{% extends 'base.html.twig' %}

{% block body %}
    Hello {{ prenom }}, tu as {{ age }} ans !
    
    {# <ul> c
    {% for prenom in tableau_prenoms %}
        <li>{{ prenom }}</li>
    {% endfor %}
</ul> #}
{% endblock %}


{# commentaire #}
